<div class="post2">
	<div class="comments">
		<h3 class="post_title">
			<%= comment.name %> &lt;<span class="comment_email"><%= comment.email %></span>&gt; said:
		</h3>
		<div>
		   <h3>
		   	Posted on: <%= comment.created_at %>
		   </h3>
		</div>

	</div>








        
			