<div class="content">
                            <!--<div class="ads">
                                <img src="img/ad.png" alt="ad"/>
                            </div>-->
                            <div class="grid_10">
                                <div class="post2">

									<h1 class="post_title">New article</h1>

									<%= render 'form' %>

									<%= link_to 'Back', articles_path %>
