<div class="dashboard grid_9">
	<h3 class="admin_title"> Admin dashboard  ::<span> welcome <%= link_to current_user.name, edit_user_registration_path %></h3>
	
</div>

	<%= link_to 'Post new', new_article_path , class: "btn-new"%>
 
     <div class="content" >
     	<div class="listing">
     		<%= link_to 'Back', articles_path %>
     	</div>
     
		<div class="listing grid_8">
			
				<h1 class="listing_title">
		           Article Listings
		        </h1>
		    <%= render 'listing'%>
	        